
<nav class="navbar navbar-default nav1">
	<div class="container-fluid">
		<div class="navbar-header">
			<h1> Supply Chain POC </h1>
		</div>
	</div>
</nav>


<div class="container">


    <h3> Track a product </h3>
	 <form class="form-horizontal" name="trackingForm">
	    <div class="form-group">
	      <label class="control-label col-sm-2"> Product Id: </label>
	      <div class="col-sm-6">
	        <input type="text" ng-model="track.productId"/>
	      </div>
	    </div>
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button type="submit" class="btn btn-default" ng-click="trackProduct(track.productId);"> Track </button>
	      </div>
	    </div>
	 </form>
	 <div class= "col-sm-12">	    
		<div ng-if="locations" ng-show="showLocations">Product Locations: {{locations}}</div>
	 </div>

	<h3> Update Product Location </h3>
	 <form class="form-horizontal" name="updateLocation">
	    <div class="form-group">
	      <label class="control-label col-sm-2">ProductId :</label>
	      <div class="col-sm-6">
	        <input type="text" ng-model="updateLocation.productId" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Location:</label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="updateLocation.location" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">From:</label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="updateLocation.from" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Password:</label>
	      <div class="col-sm-6">          
	        <input type="password" ng-model="updateLocation.passphrase" />
	      </div>
	    </div>
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">	        
	        <button type="submit" class="btn btn-default" ng-click="updateProductLocation(updateLocation)">Update </button>
	      </div>
	    </div>
	 </form>

	<h3>Add Raw Material</h3>
	 <form class="form-horizontal" name="addRM" >
	    <div class="form-group">
	      <label class="control-label col-sm-2">Parent Product Type :</label>
	      <div class="col-sm-6">
	        <input type="text" ng-model="addRM.ppType" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Parent Product Id:</label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="addRM.ppid" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Raw Product Type:</label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="addRM.rpType" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Raw Product Id:</label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="addRM.rpId" />
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-2">From:</label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="addRM.from" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Password:</label>
	      <div class="col-sm-6">          
	        <input type="password" ng-model="addRM.passphrase" />
	      </div>
	    </div>
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button type="submit" class="btn btn-default" ng-click="addRawMaterial(addRM)"> Add </button>
	      </div>
	    </div>
	 </form>

	<h3> Get Product Details </h3>
	 <form class="form-horizontal" >
	    <div class="form-group">
	      <label class="control-label col-sm-2">Product Type: </label>
	      <div class="col-sm-6">
	        <input type="text" ng-model="productDetails.type" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">Product Id: </label>
	      <div class="col-sm-6">          
	        <input type="text" ng-model="productDetails.productId" />
	      </div>
	    </div>	   
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button type="submit" class="btn btn-default" ng-click="getProductDetails(productDetails)">Details </button>
	      </div>
	    </div>
	 </form>
	 <div class= "col-sm-12">	    
		<div ng-if="currentPoductDetails">Product Details: {{currentPoductDetails}}</div>
	 </div>
	 <br/>

</div> <!-- container ends here -->

